<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
            float: left;
            height: 300px;
            width: 300px;
        }
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body class='with-3d-shadow with-transitions'>

<div class="col-md-3">
<svg id="<%= name %>_pie"></svg>
<div class="chart-title text-center"><h3><%= name.camelize %></h3></div>
</div>

<script>
    var height = 300;
    var width = 300;
    nv.addGraph(function() {
        var <%= name %>_chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height)
            .showLabels(true)
            .labelType("percent");
        d3.select("#<%= name %>_pie")
            .datum(<%= name %>_piedata)
            .attr('width', width)
            .attr('height', height)
            .call(<%= name %>_chart);
        return <%= name %>_chart;
    });

</script>
</body>
</html>
