<div class="container" padding="50">
  <div class="row-fluid">
    <div class="col-md-8">
      <H1><%= @school.name %></H1>
      <H3><%= @school.address %></H3>
      <H1><%= @title %><p></H1>
      <H5><%= link_to("Remediation Rate: ", "http://www.ohe.state.mn.us/mPg.cfm?pageID=2102") %><%= @school.rate_percent("remediation_rate", "All Students", "", "remediation") %></H5>
    </div>
    <div class="col-md-4">
      <iframe
      width="300"
      height="225"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&q=<%= "#{@school.name}, #{@school.address}" %>&zoom=14">
      </iframe>
    </div>
    <p><p>
  </div>
  <H4>Data Source <%= link_to("Minnesota Department of Education", "http://education.state.mn.us/MDE/Welcome/News/PressRel/054282") %></H4>
</div>
