        <td><%= @school.group_percent("four year", group, description) %> </td>
        <td><%= @school.rate_num("four year", group, description ,"TOTAL") %> </td>
        <td><%= @school.group_percent("five year", group, description) %> </td>
        <td><%= @school.rate_num("five year", group, description ,"TOTAL") %> </td>
        <td><%= @school.group_percent("six year", group, description) %> </td>
        <td><%= @school.rate_num("six year", group, description ,"TOTAL") %> </td>
