        <td><%= @school.rate_percent("four year", group, description, status) %> </td>
        <td><%= @school.rate_num("four year", group, description, status) %> </td>
        <td><%= @school.rate_percent("five year", group, description, status) %> </td>
        <td><%= @school.rate_num("five year", group, description, status) %> </td>
        <td><%= @school.rate_percent("six year", group, description, status) %> </td>
        <td><%= @school.rate_num("six year", group, description, status) %> </td>
