<div class="container">
    <H1><%= @title %></H1>
    <H4>Data Source <%= link_to("Minnesota Department of Education", "http://education.state.mn.us/MDE/Welcome/News/PressRel/054282") %></H4>
    <p>
    <%= form_tag '', :method => :get do %>
      <%= label_tag :min_size, "Min Num Seniors:" %>
      <%= text_field_tag :min_size, @min_size %>
      <%= label_tag :max_size, "   Max Num Seniors:" %>
      <%= text_field_tag :max_size, @max_size == 0 ? "" : @max_size %>
      <%= submit_tag 'Filter on size' %>
    <% end %>
    <p>
    <table class="dtable stripe">
      <thead>
      <tr>
        <th>School</th>
        <th>Distance</th>
        <th>Num Seniors</th>
        <th>4-yr Grad Rate</th>
        <th>4-yr Count</th>
        <th>5-yr Grad Rate</th>
        <th>5-yr Count</th>
        <th>6-yr Grad Rate</th>
        <th>6-yr Count</th>
      </tr>
      </thead>
      <tbody>
      <% @schools.each do |school| %>
      <tr>
        <td> <%= link_to(school.name, school) %> </td>
        <td> <%= school.distance_to(@masp) > 5000 ? 999 : school.distance_to(@masp).round(1) %> </td>
        <td> <%= school.num_seniors.to_s %> </td>
        <td> <%= school.rate_percent("four year", "All Students", "All Students", "Graduate") %> </td>
        <td> <%= school.rate_num("four year", "All Students", "All Students", "Graduate") %> </td>
        <td> <%= school.rate_percent("five year", "All Students", "All Students", "Graduate") %> </td>
        <td> <%= school.rate_num("five year", "All Students", "All Students", "Graduate") %> </td>
        <td> <%= school.rate_percent("six year", "All Students", "All Students", "Graduate") %> </td>
        <td> <%= school.rate_num("six year", "All Students", "All Students", "Graduate") %> </td>
      </tr>
      <% end %>
      </tbody>
    </table>
</div>
