<div class="container" >
  <%= render "school_header" %>
  <table class="dtable stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Description</th>
        <th>Status</th>
        <th>Count</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      <% @school.rates.each do |rate| %>
        <tr>
          <td> <%= rate.name %> </td>
          <td> <%= rate.group %> </td>
          <td> <%= rate.description %> </td>
          <td> <%= rate.status %> </td>
          <td> <%= rate.num %> </td>
          <td> <%= rate.percent %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
