<script>
   var ethnicity_piedata = [
    {"key":"Black", "y":<%= @school.ethnicity_percent("Black, not of Hispanic origin") %> },
    {"key":"Hispanic", "y":<%= @school.ethnicity_percent("Hispanic") %> },
    {"key":"Asian", "y":<%= @school.ethnicity_percent("Asian/Pacific Islander") %> },
    {"key":"White", "y":<%= @school.ethnicity_percent("White, not of Hispanic origin") %> }
  ];
  var gender_piedata = [
    {"key":"Female", "y":<%= @school.gender_percent("Female") %> },
    {"key":"Male", "y":<%= @school.gender_percent("Male") %> }
  ];
  var four_yr_status_piedata = [
    {"key":"Graduated", "y":<%= @school.rate_percent("four year", "All Students", "All Students" ,"Graduate") %> },
    {"key":"Continuing", "y":<%= @school.rate_percent("four year", "All Students", "All Students" ,"Continuing") %> },
    {"key":"Dropout", "y":<%= @school.rate_percent("four year", "All Students", "All Students" ,"Dropout") %> },
    {"key":"Unknown", "y":<%= @school.rate_percent("four year", "All Students", "All Students" ,"Unknown") %> }
  ];
</script>


<div class="container" >
  <%= render "school_header" %>
  <div class="row">
    <%= render partial: "pie_chart", locals: {name: "ethnicity"} %>
    <%= render partial: "pie_chart", locals: {name: "gender"} %>
    <%= render partial: "pie_chart", locals: {name: "four_yr_status"} %>
  </div>
  <table class="stripe table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Group</th>
        <th>4-Year %</th>
        <th>4-Year #</th>
        <th>5-year %</th>
        <th>5-year #</th>
        <th>6-year %</th>
        <th>6-year #</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Graduated</td>
        <td>All Students</td>
        <td><%= @school.rate_percent("four year", "All Students", "All Students" ,"Graduate") %> </td>
        <td><%= @school.rate_num("four year", "All Students", "All Students" ,"Graduate") %> </td>
        <td><%= @school.rate_percent("five year", "All Students", "All Students" ,"Graduate") %> </td>
        <td><%= @school.rate_num("five year", "All Students", "All Students" ,"Graduate") %> </td>
        <td><%= @school.rate_percent("six year", "All Students", "All Students" ,"Graduate") %> </td>
        <td><%= @school.rate_num("six year", "All Students", "All Students" ,"Graduate") %> </td>
      </tr>
      <tr>
        <td>Continuing</td>
        <td>All Students</td>
        <td><%= @school.rate_percent("four year", "All Students", "All Students" ,"Continuing") %> </td>
        <td><%= @school.rate_num("four year", "All Students", "All Students" ,"Continuing") %> </td>
        <td><%= @school.rate_percent("five year", "All Students", "All Students" ,"Continuing") %> </td>
        <td><%= @school.rate_num("five year", "All Students", "All Students" ,"Continuing") %> </td>
        <td><%= @school.rate_percent("six year", "All Students", "All Students" ,"Continuing") %> </td>
        <td><%= @school.rate_num("six year", "All Students", "All Students" ,"Continuing") %> </td>
      </tr>
      <tr>
        <td>Dropout</td>
        <td>All Students</td>
        <td><%= @school.rate_percent("four year", "All Students", "All Students" ,"Dropout") %> </td>
        <td><%= @school.rate_num("four year", "All Students", "All Students" ,"Dropout") %> </td>
        <td><%= @school.rate_percent("five year", "All Students", "All Students" ,"Dropout") %> </td>
        <td><%= @school.rate_num("five year", "All Students", "All Students" ,"Dropout") %> </td>
        <td><%= @school.rate_percent("six year", "All Students", "All Students" ,"Dropout") %> </td>
        <td><%= @school.rate_num("six year", "All Students", "All Students" ,"Dropout") %> </td>
      </tr>
      <tr>
        <td>Unknown</td>
        <td>All Students</td>
        <td><%= @school.rate_percent("four year", "All Students", "All Students" ,"Unknown") %> </td>
        <td><%= @school.rate_num("four year", "All Students", "All Students" ,"Unknown") %> </td>
        <td><%= @school.rate_percent("five year", "All Students", "All Students" ,"Unknown") %> </td>
        <td><%= @school.rate_num("five year", "All Students", "All Students" ,"Unknown") %> </td>
        <td><%= @school.rate_percent("six year", "All Students", "All Students" ,"Unknown") %> </td>
        <td><%= @school.rate_num("six year", "All Students", "All Students" ,"Unknown") %> </td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td>All Students</td>
        <td>100</td>
        <td><%= @school.rate_num("four year", "All Students", "All Students" ,"TOTAL") %> </td>
        <td>100</td>
        <td><%= @school.rate_num("five year", "All Students", "All Students" ,"TOTAL") %> </td>
        <td>100</td>
        <td><%= @school.rate_num("six year", "All Students", "All Students" ,"TOTAL") %> </td>
      </tr>
    </tbody>
  </table>
  <%= link_to("Gender Details", school_gender_path(@school), class: "btn btn-default") %>
  <%= link_to("Ethnicity Details", school_ethnicity_path(@school), class: "btn btn-default") %>
  <%= link_to("Special Needs Details", school_special_path(@school), class: "btn btn-default") %>
</div>
